/*Settingan umum*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*pengaturan layout container dan warna background*/
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #87CEEB, #B0E0E6);
}

/*pengaturan layout dalam container*/
.container{
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/*pengaturan form login dalam container*/
.login-form{
    flex: 1;
}

/*membuat bingkai gambar*/
.brand-section{
    flex: 1;
    background-color: #cafbfb;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*desain heading 2*/
h2{
    color: #0066CC;
    margin-bottom: 30px;
    font-size: 28px;
}

/*pengaturan form input email dan password*/
.input-group{
    margin-bottom: 20px;
}

.input-group input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #E6F7FF;
    border-radius: 8px;
    font-size: 16px;
}









